<!doctype html>
<html ng-app="myApp" ng-controller="myController">
<head>
  <title>User Login and Sessions</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
  <div class="todo-wrapper text-center" ng-controller="myController">
    <div>
      <h2>Welcome. You are Logged In as <%= username %></h2>
      <a class="index_button" href="/logout">logout</a>
      <a class="index_button" href="/user">Edit User</a>
    </div>

    <h2>You've got <span class="emphasis">{{getTotalTodos()}}</span> things to do over the summer!</h2>
    <ul>
      <li ng-repeat="todo in todos">
        <input type="checkbox" ng-model="todo.done"/>
        <span class="done-{{todo.done}}">{{todo.text}}</span>
      </li>
    </ul>
    <form>
      <input class="add-input" placeholder="I need to..." type="text" ng-model="formTodoText" ng-model-instant />
      <button class="add-btn" ng-click="addTodo()"><h2>Add</h2></button>
    </form>

    <button class="clear-btn" ng-click="clearCompleted()">Clear completed</button>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="//use.edgefonts.net/vast-shadow:n4:all.js"></script>
  <script src="//use.edgefonts.net/vast-shadow:n4:all;megrim.js"></script>

  <script src="/static/js/my_app.js"></script>

</body>
</html>
